 <div class="jumbotron">
      <div class="container">
        <h1>Pizza Poser!</h1>
        <p>Pizza Poser - we are here to change the world of posting pictures of Pizza as we know it. It´s also a revolution. Come in and stay a while. You can post your pictures of Pizza, tag them and comment Pizzas of others. Posting a picture of something that is not a Pizza results in instant banishment. Actual banishment like it´s 1580.</p>
        <p><%= link_to "Sign up", new_user_registration_path, class:'btn btn-default'%></p> 
 </div>
</div>
<div class="container">
<div class="row">
<% if @posts.any?  %>
<%= render @posts %>
<% else %>
No Posts yet!<br>
<% end %>
</div>
</div>
 